<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/fragments :: head(title='Konfiguracja zamówienia')">
</head>
<body>
<nav th:replace="layout/fragments :: navbar(active='Bieżące zamówieni', loggedIn='true')"></nav>

<div class="container">
    <div class="content">
        <div th:replace="layout/fragments :: global_message(classappend='top-buffer-md')"></div>

        <h2 class="mb-5">Konfiguracja nowego zamówienia</h2>

        <!-- Spinner -->
        <div class="row justify-content-center" id="spinner">
            <div class="col text-center py-5">
                <div class="spinner-border text-success" style="width: 3rem; height: 3rem;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>

        <!-- Ajax Error -->
        <div class="row" id="ajaxError">
            <div class="col">
                <p class="alert alert-danger top-buffer-md">Błąd komunikacji z serwerem!</p>
            </div>
        </div>


        <!--/*@thymesVar id="orderModel" type="dealership.car.model.OrderModel"*/-->
        <form class="form" th:action="@{/client}" th:object="${orderModel}" method="post" id="form">

            <input type="text" id="orderId" name="orderId" class="form-control" th:value="*{orderId}" />
            <input type="text" id="processId" name="processId" class="form-control" th:value="*{processId}" />
            <input type="text" id="taskId" name="taskId"  class="form-control" th:value="*{taskId}" />
            <input type="text" id="client" name="client"  class="form-control" th:value="*{client}" />

            <div class="row" role="tabpanel">
                <!-- List group -->
                <div class="col-2 list-group" id="configList" role="tablist">
                    <a class="list-group-item list-group-item-action active" data-toggle="list" href="#model-form"
                       role="tab">Model</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#engine-form" role="tab">Silnik</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#bodyType-form"
                       role="tab">Typ nadwozia</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#transmissionType-form"
                       role="tab">Skrzynia biegów</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list"
                       href="#additionalEquipment-form" role="tab">Dodatkowe wyposażenie</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#summary-form"
                       role="tab">Podsumowanie</a>
                </div>

                <!-- Tab panes -->
                <div class="col-10 tab-content">
                    <div class="tab-pane active" id="model-form" role="tabpanel">
                        <div class="row">
                            <div class="col">
                                <label for="modelSelect">Wybierz model samochodu</label>
                                <select th:field="*{model}" class="form-control" id="modelSelect">
                                    <option value=""></option>
                                    <!--/*@thymesVar id="carModels" type="java.util.Map<String, String>"*/-->
                                    <option th:each="entry: ${carModels}"
                                            th:value="${entry.key}" th:text="${entry.value}"> </option>
                                </select>
                            </div>
                        </div>
                        <div class="row justify-content-end my-3 pt-3">
                            <div class="col-4 text-right">
                                <button type="button" class="btn btn-outline-success" onclick="nextChild()">Dalej <i
                                        class="fas fa-angle-right"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="engine-form" role="tabpanel">
                        <div class="row">
                            <div class="col">
                                <label for="engineSelect">Wybierz rodzaj i moc silnika</label>
                                <select th:field="*{engine}" class="form-control" id="engineSelect">
                                    <option value=""></option>
                                    <!--/*@thymesVar id="carEngines" type="java.util.Map<String, String>"*/-->
                                    <option th:each="entry: ${carEngines}"
                                            th:value="${entry.key}" th:text="${entry.value}"> </option>
                                </select>
                            </div>
                        </div>
                        <div class="row justify-content-between my-3 pt-3">
                            <div class="col-4">
                                <button type="button" class="btn btn-outline-danger" onclick="prevChild()"><i
                                        class="fas fa-angle-left"></i> Wstecz
                                </button>
                            </div>
                            <div class="col-4 text-right">
                                <button type="button" class="btn btn-outline-success" onclick="nextChild()">Dalej <i
                                        class="fas fa-angle-right"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="bodyType-form" role="tabpanel">
                        <div class="row">
                            <div class="col">
                                <label for="bodyTypeSelect">Wybierz typ nadwozia</label>
                                <select th:field="*{bodyType}" class="form-control" id="bodyTypeSelect">
                                    <option value=""></option>
                                    <!--/*@thymesVar id="carBodyTypes" type="java.util.Map<String, String>"*/-->
                                    <option th:each="entry: ${carBodyTypes}"
                                            th:value="${entry.key}" th:text="${entry.value}"> </option>
                                </select>
                            </div>
                        </div>
                        <div class="row justify-content-between my-3 pt-3">
                            <div class="col-4">
                                <button type="button" class="btn btn-outline-danger" onclick="prevChild()"><i
                                        class="fas fa-angle-left"></i> Wstecz
                                </button>
                            </div>
                            <div class="col-4 text-right">
                                <button type="button" class="btn btn-outline-success" onclick="nextChild()">Dalej <i
                                        class="fas fa-angle-right"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="transmissionType-form" role="tabpanel">
                        <div class="row">
                            <div class="col">
                                <label for="transmissionTypeSelect">Wybierz skrzynię biegów</label>
                                <select th:field="*{transmissionType}" class="form-control" id="transmissionTypeSelect">
                                    <option value=""></option>
                                    <!--/*@thymesVar id="carTransmissionTypes" type="java.util.Map<String, String>"*/-->
                                    <option th:each="entry: ${carTransmissionTypes}"
                                            th:value="${entry.key}" th:text="${entry.value}"> </option>
                                </select>
                            </div>
                        </div>
                        <div class="row justify-content-between my-3 pt-3">
                            <div class="col-4">
                                <button type="button" class="btn btn-outline-danger" onclick="prevChild()"><i
                                        class="fas fa-angle-left"></i> Wstecz
                                </button>
                            </div>
                            <div class="col-4 text-right">
                                <button type="button" class="btn btn-outline-success" onclick="nextChild()">Dalej <i
                                        class="fas fa-angle-right"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="additionalEquipment-form" role="tabpanel">
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <label>Wybierz dodatkowe wyposażenie</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 mb-3">
                                        <input id="allEquipments" type="checkbox" />
                                        <label id="forAllEquipments">Zaznacz wszystko</label>
                                    </div>
                                    <!--/*@thymesVar id="carTransmissionTypes" type="java.util.Map<String, String>"*/-->
                                    <div id="equipmentsDiv" class="col-6" th:each="entry : ${carAdditionalEquipments}">
                                        <input type="checkbox" th:field="*{additionalEquipments}" th:value="${entry.key}"/>
                                        <label th:text="${entry.value}"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-between my-3 pt-3">
                            <div class="col-4">
                                <button type="button" class="btn btn-outline-danger" onclick="prevChild()"><i
                                        class="fas fa-angle-left"></i> Wstecz
                                </button>
                            </div>
                            <div class="col-4 text-right">
                                <button type="button" class="btn btn-outline-success" onclick="nextChild()">Dalej <i
                                        class="fas fa-angle-right"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="summary-form" role="tabpanel">
                        <div class="row">
                            <div class="col">
                                <h3>Podsumowanie</h3>
                                <table id="summaryTable" class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Typ</th>
                                        <th scope="col">Wartość</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row my-3 px-3">
                            <button id="submitOrder"
                                    type="submit"
                                    class="btn btn-success btn-lg btn-block">Wyślij zamówienie
                            </button>
                        </div>

                        <div class="row justify-content-start my-3 pt-3">
                            <div class="col-4">
                                <button type="button" class="btn btn-outline-danger" onclick="prevChild()"><i
                                        class="fas fa-angle-left"></i> Wstecz
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div th:replace="layout/fragments :: bootstrap_js"></div>
<script th:inline="javascript">

    $('#ajaxError').hide();
    $('#spinner').hide();

    $('#processId').hide();
    $('#orderId').hide();
    $('#taskId').hide();
    $('#client').hide();

    $('#configList').on('click', 'a', function() {
        let elem = $(this)[0];
        let elemNum = findElementNum(elem)
        if (elemNum !== undefined)
            handleChangeChild(currentChildNum(), elemNum);
    });

    function init() {
        var allSelected = true;
        var ch = $("#equipmentsDiv input[type='checkbox']");
        for (var i=0; i < ch.length; i++) {
            if (!ch[i].checked) {
                allSelected = false;
                break;
            }
        }
        $("#allEquipments").prop('checked', allSelected);
    }
    init();

    $("#allEquipments").change(function() {
        $("#equipmentsDiv input[type='checkbox']").prop('checked', this.checked);
        if (this.checked) {
            $("#forAllEquipments").text("Odznacz wszystkie");
        } else {
            $("#forAllEquipments").text("Zaznacz wszystkie");
        }
    });

</script>
</body>
</html>